events {}
http {
    server {
        listen 5000;
        location / {
            proxy_pass http://35.246.49.21:5000/;
        }
        location /api {
            proxy_pass http://qrandom-qran:5000/qran;
        }
         }
        location /api {
            proxy_pass http://qrandom-meal:5000/meal;
        }
         }
        location /api {
            proxy_pass http://qrandom-whatudone:5000/whatudone;
        }
    }
}